@{
    ViewBag.Title = "CammyTron";
}

@*<div class="jumbotron">
        <h1>CammyTron</h1>
        <p class="lead">Control your web cams using voice</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

<style>
    .thumb {
        width: 480px;
        height:320px;
    }

    .fullScreen {
        width: 100%;
        height: 100%;
    }
</style>
<div id="container" style="display: inline;">
    <video class="thumb" @*controls*@ autoplay id="cam1"></video>
    <script>
        var video = document.querySelector("#cam1");

        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;

        if (navigator.getUserMedia) {
            navigator.getUserMedia({ video: true }, handleVideo, videoError);
        }

        function handleVideo(stream) {
            video.src = window.URL.createObjectURL(stream);
        }

        function videoError(e) {
            // do something
        }

    </script>
</div>

<div style="display:inline">
    @*<video id="cam2" class="thumb" autoplay src="http://10.200.112.59:8080/vlc"></video>*@
    <video id="cam2" class="thumb" autoplay @*controls*@ src="http://localhost:8080/vlc"></video>
</div>

<hr />
<div class="container">
    <ul id="message"></ul>
    <ul id="error" class="text-danger"></ul>
</div>

@section scripts{
    <script src="~/Scripts/WebcamFun.js"></script>
}