@{
    ViewBag.Title = "CammyTron";
}

@*<div class="jumbotron">
        <h1>CammyTron</h1>
        <p class="lead">Control your web cams using voice</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@


<div id="container" style="width:480px;height:320px; display: inline;">
    <video width="480" height="320" controls autoplay id="video1"></video>
    <script>
        var video = document.querySelector("#video1");

        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia || navigator.oGetUserMedia;

        if (navigator.getUserMedia) {
            navigator.getUserMedia({ video: true }, handleVideo, videoError);
        }

        function handleVideo(stream) {
            video.src = window.URL.createObjectURL(stream);
        }

        function videoError(e) {
            // do something
        }

    </script>
</div>

<div style="width:480px;height:320px;display:inline">
    <video id="video2" width="480" height="320" autoplay controls src="http://localhost:8080/vlc"></video>
</div>


<hr />
<div class="container">
    <ul id="message"></ul>
    <ul id="error" class="text-danger"></ul>
</div>

@section scripts{
    <script src="~/Scripts/WebcamFun.js"></script>
}